html, body {
  height: 100%;
  width: 100%;
  
  padding: 0;
  margin: 0;
  
  background: black;

  display: grid;

  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.game {
  height: 100vh;
  width: 100vw;

  position: relative;
}

.game-slider {
  position: absolute;

  left: 0;
  top: 0;
}

canvas {
  height: 100%;
  width: 100%;
}
